.main-div{
    position:relative;
    top:250px;
    left:650px
}

.operand_B{
    position:absolute;
    width:30px;
}

.operand_A{
    position:absolute;
    left:150px;
    width:30px;
}

.result{
    position:absolute;
    left: 75px;
    top: 110px;
    width: 30px;
}