{% extends "_base.html" %}
{% load static %}

{% block title %}Funções{% endblock title %}
{% block content %}
	<h1 class="title">Funções</h1>
	<input type="text" id="char-search" placeholder="Pesquisar" />
	<div id="display-chars">
		{% for func in functions %}
			<div class="char" id="{{ func.name }}">
				<h1>Função: <a href="/func/{{ func.name }}">{{ func.name }}</a></h1>
				<div class="char-right">
					<p>{{ func.description }}</p>
					<p>Exempo: 
						<code>{{ func.example }}</code>
					</p>
					<p>
						Código equivalente:
						<code>{{ func.code_equialency }}</code>
					</p>
					<p>Opcode: 
						{% if func.opcode != '' %}
							{{ func.opcode }}
						{% else %}
							N/A
						{% endif %}
					</p>
					<p>
						Funct: 
						{% if func.funct != '' %}
							{{ func.funct }}
						{% else %}
							N/A
						{% endif %}
					</p>
					<p>
						Formato: <span class="pre">
						{% if func.format != '' %}
							{{ func.format }}
						{% else %}
							N/A
						{% endif %}
						</span>
					</p>
				</div>
			</div>
		{% endfor %}
	</div>

	<script type="text/javascript" src="{% static "js/search_engine.js" %}"></script>
{% endblock content %}