.main-div{
    height: 900px;
    width: 1000px;
    background-image: url('CPU_FULL.svg');
    position: relative;
}

.data-memory-table{
    position: absolute;
    top:220px;
    left: 40px;
}